<form action="/payment/results" >

  <div>
  <label for="cherry">APR</label>
  <input id="cherry" type="text" name="users_apr">
  </div>
  <div>
  <label for="daquiri">Number of years</label>
  <input id="daquiri" type="text" name="users_years">
  </div>
  <div>
  <label for="egg">Principal</label>
  <input id="egg" type="text" name="users_principal">
  </div>

  <div>
  <button>Calculate monthly payment</button>
  </div>
</form>
