<form action= "/random/results">

  <label for="fruit">Minimum</label>
  <input id="fruit" type="text" name="user_min" placeholder="E.g 5">

  <label for="max_value">Maximum</label>
  <input id="max_value" type="text" name="user_max" placeholder="E.g. 10">
  <button>Pick random number</button>


</form>
